* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-size: 18px;
}
a {
    text-decoration: none;
}
#main {
    border: 1px solid #ddd;
    height: auto;
    min-height: 500px;
}
.field-item {
    line-height: 2;
    font-size: 16px;
}

.tips {
    margin-left: 10px;
    font-size: 12px;
    color: #8E8E8E;
}
#save {
    font-size: 18px;
    width: 100px;
    background: #ccc;
}

.btn-wrap {
    margin-top: 20px;
}
input {
    font-size: 16px;
}

.tabber {
    overflow: hidden;

    height: 40px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #ddd;
}
.tabber .tab-item {
    float: left;

    width: 129px;
    height: 40px;

    font-size: 18px;
    line-height: 40px;

    cursor: pointer;
    text-align: center;

    color: #000;
    background: #eee;
    border-right: 1px solid #ddd;
}
.tabber .current {
    color: #0f9e26;
    background-color: #fff;
}
.tab-item{
    position: relative;

    font-size: 14px;
    line-height: 3.2;
}

.tab-list {
    margin-top: 10px;
    margin-left: 20px;
}

.tab-list .tab-content {
    display: none;
}
.tab-list > .current {
    display: block;
}

.word-list-tb {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.word-list-tb td {
    border: 1px solid #ddd;
    line-height: 2;
}

.word-list-data tr:nth-child(even) {
    background: #F2F2F2;
}

.word-list-tb td:last-child {
    width: 50px;
}
.word-list-tb .word-name {
    text-align: left;
    padding-left: 20px;
    color: #0f9e26;
}

.word-list-tb .sentence {
    line-height: 1.2;
    font-size: 16px;
    text-align: left;
    box-sizing: border-box;
    padding: 5px;
}

.word-list-tb .imglist {
    width: 600px;
    text-align: left;
}
.word-list-tb .img {
    height: 100px;
    display: inline-block;
    padding: 5px;
}
.word-list-tb .btn {
    cursor: pointer;
    display: block;
    width: 20px;
    height: 20px;
    background: url() no-repeat center;
    background-size: 20px;
}

.word-list-tb .edit {
    background-image: url(/img/edit.png);
}

.word-list-tb .save {
    background-image: url(/img/icon-tick.png);
}
.word-list-tb .delete {
    background-image: url(/img/icon-cancel.png);
    width: 100%;
}

.word-name{
    width:150px;

}
.created{
    width: 115px;
}
.times{
    width:50px;
}