<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Wordcard Settings</title>
    <link rel="stylesheet" href="css/base.css">
</head>

<body>
    <div id="app" class="wordcard" v-cloak>
        <header class="topbar">
            <div class="links">
                <a v-if="i18n.lang === 'zh-CN'" href="https://minapp.com/miniapp/4333/" title="单词小卡片小程序" class="steward_bbs" target="_blank">
                    <img src="/img/icon-mp.png" alt="">
                </a>
                <a v-if="i18n.lang === 'zh-CN'" href="http://bbs.oksteward.com" class="steward_bbs" target="_blank">
                    <img src="/img/bbs.png" alt="">
                </a>
                <a href="https://github.com/solobat/wordcard" class="github" target="_blank">
                    <img src="/img/github.png" alt="">
                </a>
            </div>
        </header>
        <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane :label="i18n.tabs.general" name="general">
                <el-form style="margin: 20px 0; min-height: 150px;" ref="config" :model="config">
                    <el-row>
                        <el-col :span="6">
                            <el-form-item :label="i18n.general.engine">
                                <el-select v-model="config.engine" :placeholder="i18n.base.choose">
                                    <el-option v-for="(item, index) in TRANSLATE_ENGINS" :key="index"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item :label="i18n.general.source">
                                <el-select :disabled="config.autoSetFrom" v-model="config.from" filterable :placeholder="i18n.base.choose">
                                    <el-option v-for="(item, index) in codeList" :key="index"
                                        :label="item"
                                        :value="item">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item :label="i18n.general.target">
                                <el-select v-model="config.to" filterable :placeholder="i18n.base.choose">
                                    <el-option v-for="(item, index) in codeList" :key="index"
                                        :label="item"
                                        :value="item">
                                    </el-option>
                                </el-select>
                                <el-tooltip effect="dark" :content="i18n.general.langTips" placement="top-start">
                                    <a class="code-help" href="https://cloud.google.com/translate/docs/languages" target="_blank">?</a>
                                </el-tooltip>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="6">
                            <el-form-item :label="i18n.general.autoSource">
                                <el-switch
                                    v-model="config.autoSetFrom"
                                    on-color="#20a0ff">
                                </el-switch>
                            </el-form-item>
                        </el-col>
                      <el-col :span="6">
                        <el-form-item :label="i18n.general.dblclickTrigger">
                            <el-switch
                                v-model="config.dblclick2trigger"
                                on-color="#20a0ff">
                            </el-switch>
                        </el-form-item>
                      </el-col>
                      <el-col :span="6">
                        <el-form-item :label="i18n.general.holdCtrl">
                            <el-tooltip effect="dark" :content="i18n.general.holdCtrlTips" placement="top-start">
                                <el-switch
                                    v-model="config.withCtrlOrCmd"
                                    on-color="#20a0ff">
                                </el-switch>
                            </el-tooltip>
                        </el-form-item>
                      </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="6">
                            <el-form-item :label="i18n.general.autocutSentence">
                                <el-tooltip class="item" effect="dark" :content="i18n.general.autocutSentenceTips" placement="top-start">
                                    <el-switch
                                        v-model="config.autocut"
                                        on-color="#20a0ff">
                                    </el-switch>
                                </el-tooltip>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item :label="i18n.general.cardFontSize">
                                <el-select v-model="config.cardFontSize" :placeholder="i18n.base.choose">
                                    <el-option
                                        v-for="item in CARD_FONTSIZE_OPTIONS"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item :label="i18n.general.precisionFirst">
                                <el-tooltip class="item" effect="dark" :content="i18n.general.precisionFirstTips" placement="top-start">
                                    <el-switch
                                        v-model="config.precisionFirst"
                                        on-color="#20a0ff">
                                    </el-switch>
                                </el-tooltip>
                            </el-form-item>
                        </el-col>
                    </el-row>
                    <el-form-item :label="i18n.general.ominboxEnterShowSentence">
                        <el-switch
                            v-model="config.alertOnOmniboxInputEntered"
                            on-color="#20a0ff">
                        </el-switch>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click.native.prevent="handleConfigSubmit">{{ i18n.base.save }}</el-button>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
            <el-tab-pane :label="i18n.tabs.words" name="words">
                <el-row>
                    <el-col :span="6">
                        <div class="word-filter filter-panel">
                            <div class="filter-item">
                                <div class="field-label">{{ i18n.words.search }}</div>
                                <el-input placeholder="Search" icon="search" v-model="filter.wordSearchText">
                                </el-input>
                            </div>
                            <div class="filter-item">
                                <div class="field-label">
                                    <span class="label-text">{{ i18n.words.vocabulary }}</span>
                                    <el-button type="primary" size="mini" @click="filter.langPair = ''">{{ i18n.words.reset }}</el-button>
                                </div>
                                <div class="filter-tags">
                                    <el-select v-model="filter.langPair" :placeholder="i18n.base.choose">
                                        <el-option v-for="(item, index) in langPairs"
                                        :key="index"
                                        :label="item"
                                        :value="item">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                            <div class="filter-item">
                                <div class="field-label">
                                    <span class="label-text">{{ i18n.words.level }}</span>
                                    <el-button type="primary" size="mini" @click="filter.levels = []">{{ i18n.words.reset }}</el-button>
                                </div>
                                <div class="filter-tags">
                                    <el-tag style="margin-right: 10px;" v-for="level in [0, 1, 2, 3, 4, 5]" 
                                        :type="filter.levels.indexOf(level) !== -1 ? 'danger' : 'grey'"
                                        :key="level"
                                        @click.native="handleLevelFilterClick(level)">{{level}}</el-tag>
                                </div>
                            </div>
                            <div class="filter-item filter-item-tags">
                                <div class="field-label">
                                    <span class="label-text">{{ i18n.words.tag }}</span>
                                    <el-button type="primary" size="mini" @click="filter.tags = []">{{ i18n.words.reset }}</el-button>
                                </div>
                                <div class="filter-tags">
                                    <el-tag style="margin-right: 10px;margin-bottom: 5px;" 
                                        v-for="(tag, index) in tags" :key="index"
                                        :type="filter.tags.indexOf(tag) !== -1 ? 'danger' : 'grey'" 
                                        @click.native="handleTagFilterClick(tag)"
                                        >{{tag}}</el-tag>
                                </div>
                            </div>
                            <div class="other-info">
                                <div class="word-nums">{{ i18n.words.count(filteredWords.length, words.length) }}</div>
                                <div class="batch-delete-btn" @click="handleBatchDeleteClick">{{ i18n.words.batchdelete }}</div>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="18">
                        <div class="word-list-container">
                            <div class="word-list">
                                <div class="word-item" v-for="(word, index) in filteredWords" :key="index" @click="handleWordClick(word)">
                                    <div class="word-name">{{word.name}}</div>
                                    <div class="word-trans">{{ (word.trans || []).join(',') }}</div>
                                    <div class="word-tags">
                                        <el-tag style="margin-right: 5px;" type="success" v-for="(tag, index) in word.tags" :key="index">{{tag}}</el-tag>
                                    </div> 
                                    <div class="word-icons">
                                        <el-tooltip v-if="i18n.lang === 'zh-CN'" effect="dark" content="查看单词的词根词缀" placement="top-start">
                                            <i class="word-icon icon-root" @click.stop="handleRootClick(word)"></i>
                                        </el-tooltip>
                                        <el-tooltip effect="dark" content="View the source location of the word" placement="top-start">
                                            <i class="word-icon icon-link" @click.stop="handleWordLinkClick(word.link)" v-if="word.link"></i>
                                        </el-tooltip>
                                        <el-tooltip v-if="i18n.lang === 'zh-CN'" effect="dark" content="已同步到单词小卡片，点击重置" placement="top-start">
                                            <i class="word-icon icon-synced" @click.stop="handleSyncedClick(word)" v-if="word.synced"></i>
                                        </el-tooltip>
                                    </div>
                                </div>
                            </div>
                            <el-collapse-transition>
                                <div class="word-editor" v-show="wordEditorVisible" @keyup.esc="handleEditorCancelClick">
                                    <el-row>
                                        <el-col :span="20">
                                            <el-form ref="wordForm" :rules="wordRules" :model="wordForm" label-width="80px" @submit.prevent="onWordFormSubmit">
                                                <el-form-item :label="i18n.item.word + ':'" prop="name">
                                                    <el-input type="text" v-model="wordForm.name"></el-input>
                                                </el-form-item>
                                                <el-form-item :label="i18n.item.translate + ':'" prop="trans">
                                                    <el-input type="text" v-model="wordForm.trans"></el-input>
                                                </el-form-item>
                                                <el-form-item :label="i18n.item.tag + ':'">
                                                    <el-tag
                                                        style="margin-right: 5px;"
                                                        :key="tag"
                                                        v-for="tag in wordForm.tags"
                                                        :closable="true"
                                                        :close-transition="false"
                                                        @close="handleTagClose(tag)"
                                                    >
                                                        {{tag}}
                                                    </el-tag>
                                                    <el-autocomplete
                                                        class="inline-input"
                                                        v-if="tagInputVisible"
                                                        v-model="tagInputValue"
                                                        :fetch-suggestions="tagsQuerySearch"
                                                        ref="saveTagInput"
                                                        :trigger-on-focus="false"
                                                        @select="handleTagSelect"
                                                        @keyup.enter.native="handleTagInputConfirm"
                                                        @blur="handleTagInputConfirm"
                                                    ></el-autocomplete>
                                                    <el-button v-else class="button-new-tag" size="small" @click="showTagInput">+ New Tag</el-button>
                                                </el-form-item>
                                                <el-form-item :label="i18n.item.sentence + ':'">
                                                    <el-input type="textarea" :rows="3"
                                                        v-model="wordForm.sentence">
                                                    </el-input>
                                                </el-form-item>
                                                <div class="form-btns">
                                                    <el-button size="small" @click="handleEditorCancelClick"> {{ i18n.base.cancel }} </el-button>
                                                    <el-button size="small" @click="handleEditorDeleteClick"> {{ i18n.base.delete }} </el-button>
                                                </div>
                                            </el-form>
                                        </el-col>
                                        <el-col :span="4">
                                            <div class="form-aside">
                                                <div class="form-aside-fields">
                                                    <div class="el-form-item__label"> {{ i18n.words.level }} :</div>
                                                    <el-select v-model="wordForm.level" :placeholder="i18n.base.choose" size="small">
                                                        <el-option
                                                            v-for="item in levels"
                                                            :key="item.value"
                                                            :label="item.label"
                                                            :value="item.value">
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <div class="form-aside-btns">
                                                    <el-button type="primary" size="small" @click.native.prevent="handleEditorSubmit"> {{ i18n.base.save }} </el-button>
                                                </div>
                                            </div>
                                        </el-col>
                                    </el-row>
                                </div>
                            </el-collapse-transition>
                        </div>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane :label="i18n.tabs.wordsrecite" name="wordsrecite">
                <section class="scheme-filter" v-if="!wordrecitevisible && !allRecited">
                    <header>
                        <h2>{{ i18n.wordsrecite.title }}</h2>
                    </header>
                    <div class="filter-items">
                        <div class="filter-results">
                            {{ i18n.words.count(schemedWords.length, words.length) }}
                        </div>
                        <div class="filter-item">
                            <div class="field-label">
                                <span class="label-text"> {{ i18n.words.vocabulary }} </span>
                            </div>
                            <div class="filter-tags">
                                <el-select v-model="reciteFilter.langPair" clearable :placeholder="i18n.base.choose">
                                    <el-option v-for="(item, index) in langPairs"
                                    :key="index"
                                    :label="item"
                                    :value="item">
                                    </el-option>
                                </el-select>
                            </div>
                        </div>
                        <div class="filter-item">
                            <div class="field-label">
                                <span class="label-text"> {{ i18n.words.level }} </span>
                            </div>
                            <div class="filter-tags">
                                <el-tag style="margin-right: 10px;" v-for="level in [0, 1, 2, 3, 4, 5]" 
                                    :type="reciteFilter.levels.indexOf(level) !== -1 ? 'danger' : 'grey'"
                                    :key="level"
                                    @click.native="handleLevelFilterClick(level, 'recite')">{{level}}</el-tag>
                            </div>
                        </div>
                        <div class="filter-item">
                            <div class="field-label">
                                <span class="label-text"> {{ i18n.words.tag }} </span>
                            </div>
                            <div class="filter-tags">
                                <el-tag style="margin-right: 10px;margin-bottom: 5px;" 
                                    v-for="(tag, index) in tags" :key="index"
                                    :type="reciteFilter.tags.indexOf(tag) !== -1 ? 'danger' : 'grey'" 
                                    @click.native="handleTagFilterClick(tag, 'recite')"
                                    >{{tag}}</el-tag>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <div class="action-btns">
                            <el-button size="small" @click="beginRecite"> {{ i18n.wordsrecite.submit }} </el-button>
                        </div>
                    </footer>
                </section>
                <section class="wordrecite-ground" :class="[`card-size-${config.cardFontSize}`]" v-if="wordrecitevisible && !allRecited">
                    <div class="word-card-wrap">
                        <el-card class="word-card">
                            <div class="word-fields">
                                <div class="word-card-name word-field">{{curRecitedWord.name}}</div>
                                <div class="word-card-trans word-field">{{(curRecitedWord.trans || []).join(',')}}</div>
                                <div class="word-card-sentence word-field" v-html="highlightWord(curRecitedWord.sentence, curRecitedWord.name)"></div>
                            </div>
                            <div class="word-otherinfo">
                                <div class="word-level">
                                    <img :src="`/img/level${curRecitedWord.level || 0}.png`" alt="">
                                </div>
                                <div class="play-voice">
                                    <img class="voice-btn" src="/img/wordvoice.png" alt="" @click="playVoice">
                                </div>
                            </div>
                        </el-card>
                        <div class="word-card-actions">
                            <img src="/img/nextstep.png" alt="" v-if="!isFinalStep" @click="goNextStep">
                            <template v-else>
                                <img src="/img/gotit.png" alt="" @click="wordRecited(true)">
                                <img src="/img/wrong.png" alt="" @click="wordRecited(false)">
                            </template>
                        </div>
                    </div>
                </section>
                <section class="recite-results" v-if="allRecited">
                    <header>
                        <h2>{{ i18n.wordsrecite.result }}</h2>
                    </header>
                    <div>
                        <pie style="width: 300px;height: 200px; margin: 0 auto" :chart-data="reciteResultData"></pie>
                    </div>
                    <footer>
                        <div class="action-btns">
                            <el-button size="small" @click="beginNewReciteFilter"> {{ i18n.wordsrecite.newquiz }} </el-button>
                        </div>
                    </footer>
                </section>
            </el-tab-pane>
            <el-tab-pane v-if="i18n.lang === 'zh-CN'" :label="i18n.tabs.wordroots" name="wordroots">
                <el-row>
                    <el-col :span="6">
                        <div class="filter-panel">
                            <div class="filter-item">
                                <div class="field-label">搜索</div>
                                <el-input placeholder="Search" icon="search" :autofocus="true" v-model="rootsFilter.searchText">
                                </el-input>
                            </div>
                            <div class="other-info">
                                数据来自<a href="https://book.douban.com/subject/3002766/" target="_blank">《英语词根与单词的说文解字》</a>
                            </div>
                        </div>
                    </el-col>
                    <el-col :span="18">
                        <div class="roots-container">
                            <el-table
                                :data="filteredRoots"
                                height="600"
                                border
                                style="width: 100%">
                                <el-table-column
                                  prop="root"
                                  label="词根"
                                  width="180">
                                </el-table-column>
                                <el-table-column
                                  prop="source"
                                  label="来源"
                                  width="100">
                                </el-table-column>
                                <el-table-column
                                  prop="explaintion"
                                  label="解释">
                                </el-table-column>
                                <el-table-column
                                    prop="page"
                                    label="页码"
                                    width="100">
                                </el-table-column>
                              </el-table>
                        </div>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane :label="i18n.tabs.advanced" name="advanced">
                <div class="panel-content" style="padding: 10px 0;">
                    <el-button type="primary" @click="handleExportClick('csv')">CSV {{ i18n.advanced.export }} </el-button>
                    <el-button type="primary" @click="handleExportClick('json')">JSON {{ i18n.advanced.export }} </el-button>
                    <el-button type="primary" @click="handleExportClick('words')">{{ i18n.advanced.onlywords }} {{ i18n.advanced.export }} </el-button>
                </div>
                <el-collapse v-model="activeSyncNames" accordion>
                    <el-collapse-item title="同步到小程序" name="1">
                        <div>单词小卡片小程序用户可以使用此功能，用户身份码从小程序个人头像点击获取</div>
                        <el-form ref="minappForm" :model="minappForm" :inline="true" :rules="minappRules">
                            <el-row>
                              <el-col :span="16">
                                <el-form-item v-if="!userInfo" label="用户身份" prop="userKey">
                                    <el-input v-model="minappForm.userKey" 
                                        placeholder="请输入" :disabled="hasMinappChecked"
                                        style="width: 400px;">
                                    </el-input>
                                </el-form-item>
                                <el-form-item v-else label="账号">
                                    <el-input :value="userInfo.nickname" :disabled="true" 
                                    style="width: 400px;">
                                    </el-input>
                                </el-form-item>
                              </el-col>
                              <el-col :span="8">
                                  <el-button v-if="!userInfo" type="primary" @click.native="handleUserCheck('minapp')">检查</el-button>
                                  <template v-if="!syncing">
                                    <el-button v-if="userInfo" type="primary" @click.native="handleSyncClick('minapp')">开始同步</el-button>
                                    <el-button v-if="userInfo" type="primary" @click.native="userInfo = null">取消</el-button>
                                  </template>
                                  <el-progress v-else :text-inside="true" :stroke-width="18" :percentage="syncPorcess"></el-progress>
                              </el-col>
                            </el-row>
                        </el-form>
                    </el-collapse-item>
                    <el-collapse-item name="2" title="同步到有道">
                        <div>使用此功能前，需要先登录有道网站</div>
                        <el-button v-if="!syncing" type="primary" @click.native="handleSyncClick('youdao')">开始同步</el-button>
                        <el-progress v-else :text-inside="true" :stroke-width="18" :percentage="syncPorcess"></el-progress>
                    </el-collapse-item>
                    <el-collapse-item name="3" title="同步到扇贝">
                        <div>使用此功能前，需要先登录扇贝网站</div>
                        <el-button v-if="!syncing" type="primary" @click.native="handleSyncClick('shanbay')">开始同步</el-button>
                        <el-progress v-else :text-inside="true" :stroke-width="18" :percentage="syncPorcess"></el-progress>
                    </el-collapse-item>
                </el-collapse>
            </el-tab-pane>
            <el-tab-pane :label="i18n.tabs.help" name="help">
                <div class="text-panel">
                    <div>
                       <a v-if="i18n.lang === 'zh-CN'" href="http://list.youku.com/albumlist/show/id_51352320.html" target="_blank">单词小卡片视频专辑</a> 
                       <a href="https://t.me/okwordcard" style="margin-left: 12px;" target="_blank">Telegram</a>
                       <a v-if="i18n.lang === 'zh-CN'" href="http://bbs.oksteward.com" style="margin-left: 12px;" target="_blank">论坛</a>
                    </div>
                    <div v-if="i18n.lang === 'zh-CN'">
                        <span>QQ群: 314501729</span>
                        <hr>
                        此扩展可以帮助你在访问英文网站过程中，遇到不认识的单词，使用<em>右键菜单</em>查询： <br>
                        <br>
                        如果你想更方便地查词，可以在设置页设置<em>双击取词</em> ：<br>
                        同时，通过点击左下角的
                        <i class="el-icon-star-on"></i>
                        按钮将单词、释义、例句保存成单词小卡片，
                        你还可以为单词打上各种 <em>标签</em> ，以方便筛选复习. <br>
                        收集的单词可以在设置/单词列表中查看并编辑<br>
                        你还可以筛选中不同类型/状态的单词<br>
                        并记忆或测验它们<br>
                        如果你还在使用其它背单词app，那你还可以将这里收集到的单词导出成 <em>csv</em> 文件，然后导入app中。
                    </div>
                </div>
            </el-tab-pane>
            <el-tab-pane :label="i18n.tabs.update" name="update">
                <div class="text-panel">
                    <h2>{{ appName }} v{{config.version}}</h2>
                    <section class="changelog">
                        <template v-for="update in changelog" v-if="!update.ext || update.ext === appName">
                            <h3 v-html="update.version"></h3>
                            <p v-html="update.detail"></p>
                        </template>
                    </section>
                    <div>
                        <a :href="'http://owsjc7iz3.bkt.clouddn.com/' + appName + '-' + config.version + '.crx'">download crx</a>
                    </div>
                </div>
            </el-tab-pane>
        </el-tabs>
    </div>
</body>

</html>
