$font-family: "PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Helvetica Neue,Arial,sans-serif";
$color-primary: #3489f7;
$color-primary-light: #92BBF3;
$color-primary-deep: #4F77AE;
$color-primary-lighter: #edf6ff;
$color-success: #30ED69;
$color-success-light: #8AF6AB;
$color-success-deep: #48B268;
$color-warn: #FFAF34;
$color-warn-light: #FFD38F;
$color-warn-deep: #BF924D;
$color-error: #F44237;
$color-error-light: #FF8F8F;
$color-error-deep: #BF4C4C;
$color-info: #929292;
$color-info-light: #C8C8C8;
$color-info-deep: #6D6D6D;
$color-disabled: #EBEAE7;
$color-disabled-light: #F5F4F3;
$color-disabled-deep: #B0B0AE;
$color-title:#000;
$color: #666;
$color-light: #999;
$color-deep: #333;
$color-deeper: #222;
$border-color: #e8e8e9;
$background-color:#f3f4f5;
$background-color-deep:#ddd;
$background-color-light:#fff;