
[v-cloak] {
    display: none;
}

body,
p,
div,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    background: #f0f0f0;
    width: 100vw;
    height: 100vh;
}

img {
    vertical-align: top;
}

a {
    text-decoration: none;
}

.clickable {
    cursor: pointer;
}

.msg-box {
    color: #999;
}

.wordrecite-ground {
    .word-card-wrap {
        display: flex;
        width: 700px;
        height: 312px;
        margin: 100px auto 0;
    }

    .word-card {
        width: 100%;
        height: 310px;
        text-align: center;
    }

    .word-fields {
        display: flex;
        flex-direction: column;
        height: 240px;
    }

    .word-card-name {
        text-align: left;
        font-size: 16px;
        font-weight: 700;
        line-height: 2;
        flex: 1;
    }

    .word-card-trans {
        text-align: left;
        line-height: 2;
        flex: 1;
    }

    .word-card-sentence {
        text-align: left;
        flex: 2;
        overflow: scroll;

        em {
            color: #d4237a;
            font-style: normal;
        }
    }

    ::-webkit-scrollbar {
        width: 3px;
    }

    .word-otherinfo {
        height: 30px;
    }

    .word-card-actions {
        width: 90px;
        transition: all 200ms ease-in;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }

        img {
            display: block;
            margin: 0 auto 5px;
            width: 45px;
            height: 45px;
            cursor: pointer;
            opacity: .5;

            &:first-child {
                margin-top: 156px;
            }

            &:hover {
                opacity: 1;
            }
        }
    }

    .word-otherinfo {
        display: flex;
        justify-content: space-between;
        
        img {
            width: 30px;
            height: 30px;
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }

        .voice-btn {
            cursor: pointer;
        }
    }
    
    &.card-size-normal {
        .word-card-name {
            font-size: 26px;
        }

        .word-card-trans {
            font-size: 14px;
        }

        .word-card-sentence {
            font-size: 14px;
        }
    }

    &.card-size-big {
        .word-card-name {
            font-size: 28px;
        }

        .word-card-trans {
            font-size: 16px;
        }

        .word-card-sentence {
            font-size: 16px;
        }
    }

    &.card-size-large {
        .word-card-name {
            font-size: 30px;
        }

        .word-card-trans {
            font-size: 18px;
        }

        .word-card-sentence {
            font-size: 18px;
        }
    }
}